@model _272JABSProject.Models.Excercis

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Excercis</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExcericiseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExcericiseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExcerciseDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExcerciseDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExcerciseID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
